.App{
    display: flex;
    flex-direction: row;
    flex-grow: 1;
}
.Panel{
    flex-grow: 1;
    padding: 10px;
}
.Menu-text{
    color: black;
    text-align: center;
}

.form{
    display: flex;
    flex-direction: column;
    align-items: center;
  }

.Table{
    width:100%;
    text-align: center;

}